// color vars
$white: #fff;
$black: #000;
$yellow: #f3bb47;
$grey-100: #e1eeea;
$grey-200: #eae8f2;
$grey-300: #577a6f;
$grey-400: #9b9eb7;
$grey-500: #454242;

// media queries vars
$mobile-m: 375px;
$tablet-m: 576px;
$tablet: 768px;
$tablet-l: 992px;
$desktop: 1024px;
$wide: 1200px;

// @extend
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%connect-btn {
  width: 100%;
  padding: 18px 0 20px;
  background: linear-gradient(180deg, #ecab43 0%, #f19f63 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $white;
}
